/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* End Global rules */

/* Start body rules */
body {
    background: url(image.png) no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
opacity: .95;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}

form {
    width: 50%;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background: rgba(56, 54, 54, 0.7); /* Darker sidebar */
}
/* form Container */
.con{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.field-set{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field-set div{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

/* the header form form */
header {
    width: 100%;
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: rgba(243,161,0,1);
}
/*  A welcome message or an explanation of the login form */
header p {letter-spacing: 0.05em;}



/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */


.input-item {
    background: #fff;
    color: #333;
    border-radius: 5px 0px 0px 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

/* inputs form  */
input[class="form-input"]{
    width: 90%;
    height: 50px;
    padding: 15px;
    
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    
}
/* input[id="txt-input"] {width: 250px;} */
/* focus  */


/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
button {
    display: inline-block;
    color: #252537;
    width: 70%;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 7% auto;
    letter-spacing: 0.05em;
}
/* Submits */
.submits {
    width: 100%;
    display: inline-block;
    margin-left: 2%;
}

/*    Forgot Password button FAF3DD  */
.forgot{
    text-decoration: none;
    width: 80%;
    font-weight: bold;
    color: #fff;
    text-align: right;

}

.other p{
    color: #fff;

}
.other p a{
    color: #fff;
    font-weight: bold;
}
label{
    text-align: left;
    width: 80%;
    font-weight: bold;
    color: white;
}